@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first page</h1>
    <h2> Da hätte ich fast mein Passwort mit eingegeben!!!</h2>
    <p> Das war natürlich ein Scherz - der Testzwecke wegen.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
